{{- $devcontainer:= env "DEVCONTAINER" | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
devcontainer = {{ $devcontainer }}
name = "Adam Jacobus"
email = "adam.jacobus@storable.com"
{{- if eq .chezmoi.os "darwin" }}
computerName = "{{ output "scutil" "--get" "ComputerName" | trim }}"
{{- end }}

[scriptEnv]
PROFILE = '/dev/null'

[git]
autoAdd = true
autoCommit = true