# Oh My Zsh configuration.
export ZSH="$HOME/.oh-my-zsh"

ZSH_THEME="dracula"
plugins=(git aliases brew chezmoi docker docker-compose npm nvm starship)

source $ZSH/oh-my-zsh.sh

# User configuration

# Preferred editor for local and remote sessions
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  export EDITOR='nvim'
fi
export VISUAL='code --wait'

# User script directory
export PATH="${HOME}/.local/bin:${PATH}"

{{ if (not .devcontainer) -}}

# 1Password SSH Agent socket
export SSH_AUTH_SOCK="${HOME}/.1password/agent.sock"

# Custom SSL certificates
export LOCAL_ROOT_CA="${HOME}/Library/Application Support/mkcert/rootCA.pem"
export NODE_USE_SYSTEM_CA=1

# GitLab PAT for Claude Code marketplace auto-updates
export GL_TOKEN="{{ onepasswordRead "op://Employee/Newbook Claude Code Plugin Marketplace/credential" }}"

# GitLab PAT for fetching packages hosted on GitLab Package Registry
export NPM_AUTH_TOKEN="{{ onepasswordRead "op://Employee/Gitlab Package Registry Token/credential" }}"

# Custom config for the Playwright MCP
export PLAYWRIGHT_MCP_CONFIG="${HOME}/.config/playwright-mcp/config.json"

{{ end -}}
