[gpg]
	format = ssh
[commit]
	gpgsign = true
[user]
	name = {{ .name }} 
	email = {{ .email }} 
	signingkey = "key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBKug366xreaZ9vJcWUdjaZhCLbXfes2uEKzKtkblNug adam.jacobus@storable.com"
[pull]
	rebase = true
[credential "https://gitlab.com"]
	helper = {{ lookPath "glab" }} auth git-credential
